<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Whistle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9427981A1BC4730B00A9A541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9427982E1BC4730B00A9A541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>942798391BC4730B00A9A541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
